<div class="container">
  <h2>Search User</h2>

  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "user", collection: @users  %>
    </tbody>
  </table>

  <%= paginate @users, theme: "twitter-bootstrap-3" %>
</div>
